{% extends '::base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('bundles/facturacion/login/css/style.css') }}" />

<script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
{% endblock %}
{% block body -%}
<center>
    <h1>usuario edit</h1>
</center>
<div id="Contenedor">
    {{ form(edit_form) }}

    <a class="btn btn-primary" role="button" href="{{ path('usuario') }}">
        Regresar
    </a>

    {{ form(delete_form) }}



</div>
{% endblock %}