{% extends '::base.html.twig' %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('bundles/facturacion/login/css/style.css') }}" />

<script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
{% endblock %}
{% block body -%}
<br><br>
<center>
    <h1>Lista de Usuarios</h1>
</center>


<div id="Contenedor">
    <ul>
        <a class="btn btn-primary" role="button" href="{{ path('usuario_new') }}">
            Nuevo Registro
        </a>
    </ul>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Correousuario</th>
                <th>Passwordusuario</th>
                <th>Nombreusuario</th>
                <th>Perfilusuario</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for entity in entities %}
            <tr>
                <td><a href="{{ path('usuario_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.correoUsuario }}</td>
                <td>{{ entity.passwordUsuario }}</td>
                <td>{{ entity.nombreUsuario }}</td>
                <td>{{ entity.perfilUsuario }}</td>
                <td>
                    <a href="{{ path('usuario_show', { 'id': entity.id }) }}">
                        Ver<ion-icon style="font-size: 35px;" name="eye-sharp"></ion-icon>
                    </a>
                    <!-- <a> - </a> -->
                    <a href="{{ path('usuario_edit', { 'id': entity.id }) }}">
                        Editar<ion-icon style="font-size: 35px;" name="create-sharp"></ion-icon>
                    </a>

                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}

{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
{% endblock %}