{% extends '::base.html.twig' %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('bundles/facturacion/login/css/style.css') }}" />

<script src="https://unpkg.com/ionicons@5.1.2/dist/ionicons.js"></script>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
{% endblock %}

{% block body -%}
<br><br>
<center>
    <h1>usuario</h1>
</center>
<div id="Contenedor">
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Correousuario</th>
                <td>{{ entity.correoUsuario }}</td>
            </tr>
            <tr>
                <th>Passwordusuario</th>
                <td>{{ entity.passwordUsuario }}</td>
            </tr>
            <tr>
                <th>Nombreusuario</th>
                <td>{{ entity.nombreUsuario }}</td>
            </tr>
            <tr>
                <th>Perfilusuario</th>
                <td>{{ entity.perfilUsuario }}</td>
            </tr>
        </tbody>
    </table>

    <ul class="record_actions">

        <a class="btn btn-primary" role="button" href="{{ path('usuario') }}">
            Regresar
        </a>


        <a class="btn btn-primary" role="button" href="{{ path('usuario_edit', { 'id': entity.id }) }}">
            Editar
        </a>

        <!-- <a class="btn btn-danger">{{form(delete_form)}}</a> -->
    </ul>
</div>
{% endblock %}